<div>

  <ul *ngIf="!showAsList">
    <li *ngFor="let item of _contacts">
      <app-contact [FirstName]="item.FirstName"
                   [LastName]="item.LastName"
                   [DepartmentId]="item.DepartmentId"
                   [Email]="item.Email"
                   [Started]="item.Started"
                   [Photo]="">
      </app-contact>
    </li>
  </ul>

  <section *ngIf="showAsList">
    <app-contacts-table [my_contacts]="_contacts">
    </app-contacts-table>
  </section>

</div>


